---
title: "Links"
---

{{#each about.dates }}
<p>{{ this }}</p>
{{/each}}

<script type="text/javascript">
  // document.getElementById("stack-url").addEventListener("click", function(event) {
  //   (function() {
  //     window.open('https://s3-us-west-2.amazonaws.com/trust.trinimbus.com/stack.template','_blank');
  //   }).call();
  // });
</script>

